<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="headerfragment">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" th:href="@{/}">[[${companyName}]]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/flights}">Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/voegtoe}">Voeg toe</a>
                </li>
                <div th:unless="${principal}">
                    <li class="nav-item">
                        <a class="btn btn-primary"
                           th:href="@{|/login|}"
                           th:text="|Login|"
                        >Login</a>
                    </li>
                </div>
                <div th:if="${principal}">
                    <li class="nav-item">
                        <a class="btn btn-primary"
                           th:href="@{|/logout|}"
                           th:text="|Sign out|"
                        >Sign out</a>
                    </li>
                </div>

            </ul>
        </div>
    </nav>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>