<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
  <link rel="stylesheet" type="text/css" media="all"
        th:href="@{/css/bootstrap.min.css}" href="/css/style.css"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: headerfragment}">Header</div>

<h1>About us</h1>
</body>
</html>