<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
  <link rel="stylesheet" type="text/css" media="all"
        th:href="@{/css/bootstrap.min.css}" href="/css/style.css"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<div th:replace="~{fragments/header :: headerfragment}">Header</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1>Flights</h1>
      <p>Choose a destination and book your flight today!</p>
      <form>
        <div class="form-group">
          <label for="destination">Destination</label>
          <input type="text" class="form-control" id="destination" placeholder="Enter Destination">
        </div>
        <div class="form-group">
          <label for="depart">Departure Date</label>
          <input type="date" class="form-control" id="depart">
        </div>
        <div class="form-group">
          <label for="return">Return Date</label>
          <input type="date" class="form-control" id="return">
        </div>
        <button type="submit" class="btn btn-primary">Search Flights</button>
      </form>
    </div>
  </div>
  <div th:each="flight: ${flights}">
    <a class="buttonLook mediumButton"
       th:href="@{|/flightdetails/${flight.getId()}|}"
       th:text="${flight.getFlightNumber()}"> Flight Number </a>
  </div>

</div>
</body>
</html>