<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Flight</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/bootstrap.min.css}" href="/css/style.css"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}" href="/css/stylesheet.css"/>
</head>
<body>
<div th:replace="~{fragments/header :: headerfragment}">Header</div>


<h1>Insert new flight</h1>
<div class="container">
    <form th:action="@{|/voegtoe|}" method="post">
        <div class="form-group">
            <label for="flightNumber"> Flight number </label>
            <input type="text" class="form-control" id="flightNumber" name="flightNumber" placeholder="Flightnumber" required>
        </div>
        <div class="form-group">
            <label for="Origin"> Origin </label>
            <input type="text" class="form-control" id="Origin" name="Origin" placeholder="Origin" required>
        </div>
        <div class="form-group">
            <label for="omschrijving"> Omschrijving </label>
            <input type="text" class="form-control" id="omschrijving" name="omschrijving" placeholder="Omschrijving" required>
        </div>
        <div class="form-group">
            <label for="departureDate"> Departure Date </label>
            <input type="date" class="form-control" id="departureDate" name="departureDate" placeholder="Departure Date" required>
        </div>
        <div class="form-group">
            <label for="returnDate"> Return Date </label>
            <input type="date" class="form-control" id="returnDate" name="returnDate" placeholder="Return Date" required>
        </div>
        <div class="form-group">
            <label for="aircraftId">Aircraft Id</label>
            <select class="form-control" id="aircraftId" name="aircraftId" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>

        <div class="form-group">
            <label for="airportId">Airport Id</label>
            <select class="form-control" id="airportId" name="airportId" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Maak flight</button>
    </form>
</div>
</body>
</html>